@font-face {
    font-family: "icons";
    src: url("./icons.eot?4b9c2af707baa5c22bc904f11a5acf43#iefix") format("embedded-opentype"),
url("./icons.woff?4b9c2af707baa5c22bc904f11a5acf43") format("woff"),
url("./icons.ttf?4b9c2af707baa5c22bc904f11a5acf43") format("truetype"),
url("./icons.svg?4b9c2af707baa5c22bc904f11a5acf43#icons") format("svg");
}

i[class^="hoone-"]:before, i[class*=" hoone-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hoone-2dmap:before {
    content: "\f101";
}
.hoone-3dmap:before {
    content: "\f102";
}
.hoone-airplane:before {
    content: "\f103";
}
.hoone-ambulance:before {
    content: "\f104";
}
.hoone-anchor:before {
    content: "\f105";
}
.hoone-announce:before {
    content: "\f106";
}
.hoone-brush:before {
    content: "\f107";
}
.hoone-building:before {
    content: "\f108";
}
.hoone-calendar:before {
    content: "\f109";
}
.hoone-call119:before {
    content: "\f10a";
}
.hoone-camp:before {
    content: "\f10b";
}
.hoone-cancel:before {
    content: "\f10c";
}
.hoone-car:before {
    content: "\f10d";
}
.hoone-chart-bar:before {
    content: "\f10e";
}
.hoone-chart-line:before {
    content: "\f10f";
}
.hoone-chart-pie:before {
    content: "\f110";
}
.hoone-chart-tree:before {
    content: "\f111";
}
.hoone-circle-o:before {
    content: "\f112";
}
.hoone-circle:before {
    content: "\f113";
}
.hoone-cloud:before {
    content: "\f114";
}
.hoone-color_48-chodai_logo_48:before {
    content: "\f115";
}
.hoone-color_48-energy_color_filled_48:before {
    content: "\f116";
}
.hoone-color_48-leaf_color_filled_48:before {
    content: "\f117";
}
.hoone-color_48-money_color_filled_48:before {
    content: "\f118";
}
.hoone-color_48-power_color_filled_48:before {
    content: "\f119";
}
.hoone-copy:before {
    content: "\f11a";
}
.hoone-cursor-o:before {
    content: "\f11b";
}
.hoone-cursor:before {
    content: "\f11c";
}
.hoone-cut:before {
    content: "\f11d";
}
.hoone-database:before {
    content: "\f11e";
}
.hoone-down:before {
    content: "\f11f";
}
.hoone-download:before {
    content: "\f120";
}
.hoone-file-o:before {
    content: "\f121";
}
.hoone-file:before {
    content: "\f122";
}
.hoone-finger-o:before {
    content: "\f123";
}
.hoone-finger:before {
    content: "\f124";
}
.hoone-firefighter:before {
    content: "\f125";
}
.hoone-freehand:before {
    content: "\f126";
}
.hoone-helicopter:before {
    content: "\f127";
}
.hoone-helipad:before {
    content: "\f128";
}
.hoone-home-o:before {
    content: "\f129";
}
.hoone-home-o2:before {
    content: "\f12a";
}
.hoone-home:before {
    content: "\f12b";
}
.hoone-idcard:before {
    content: "\f12c";
}
.hoone-info:before {
    content: "\f12d";
}
.hoone-kuoth:before {
    content: "\f12e";
}
.hoone-layers:before {
    content: "\f12f";
}
.hoone-left:before {
    content: "\f130";
}
.hoone-lifebuoy:before {
    content: "\f131";
}
.hoone-light:before {
    content: "\f132";
}
.hoone-link:before {
    content: "\f133";
}
.hoone-list:before {
    content: "\f134";
}
.hoone-list2:before {
    content: "\f135";
}
.hoone-location:before {
    content: "\f136";
}
.hoone-login:before {
    content: "\f137";
}
.hoone-login2:before {
    content: "\f138";
}
.hoone-logo:before {
    content: "\f139";
}
.hoone-logout:before {
    content: "\f13a";
}
.hoone-logout2:before {
    content: "\f13b";
}
.hoone-map:before {
    content: "\f13c";
}
.hoone-minus:before {
    content: "\f13d";
}
.hoone-moon:before {
    content: "\f13e";
}
.hoone-motorcycle:before {
    content: "\f13f";
}
.hoone-mouse:before {
    content: "\f140";
}
.hoone-move:before {
    content: "\f141";
}
.hoone-oval:before {
    content: "\f142";
}
.hoone-palette:before {
    content: "\f143";
}
.hoone-paste:before {
    content: "\f144";
}
.hoone-pause:before {
    content: "\f145";
}
.hoone-pencil:before {
    content: "\f146";
}
.hoone-person:before {
    content: "\f147";
}
.hoone-phone:before {
    content: "\f148";
}
.hoone-picture:before {
    content: "\f149";
}
.hoone-pin-location:before {
    content: "\f14a";
}
.hoone-pin-map:before {
    content: "\f14b";
}
.hoone-pin:before {
    content: "\f14c";
}
.hoone-play:before {
    content: "\f14d";
}
.hoone-playback:before {
    content: "\f14e";
}
.hoone-plus:before {
    content: "\f14f";
}
.hoone-point:before {
    content: "\f150";
}
.hoone-polygon:before {
    content: "\f151";
}
.hoone-polyline:before {
    content: "\f152";
}
.hoone-printer-o:before {
    content: "\f153";
}
.hoone-printer:before {
    content: "\f154";
}
.hoone-question:before {
    content: "\f155";
}
.hoone-rectangle:before {
    content: "\f156";
}
.hoone-right:before {
    content: "\f157";
}
.hoone-ruler:before {
    content: "\f158";
}
.hoone-save:before {
    content: "\f159";
}
.hoone-screenshot:before {
    content: "\f15a";
}
.hoone-search-o:before {
    content: "\f15b";
}
.hoone-search:before {
    content: "\f15c";
}
.hoone-share:before {
    content: "\f15d";
}
.hoone-ship:before {
    content: "\f15e";
}
.hoone-square-o:before {
    content: "\f15f";
}
.hoone-square:before {
    content: "\f160";
}
.hoone-sun:before {
    content: "\f161";
}
.hoone-switch:before {
    content: "\f162";
}
.hoone-terrainexa:before {
    content: "\f163";
}
.hoone-text:before {
    content: "\f164";
}
.hoone-text119:before {
    content: "\f165";
}
.hoone-text2d:before {
    content: "\f166";
}
.hoone-text3d:before {
    content: "\f167";
}
.hoone-trajectory:before {
    content: "\f168";
}
.hoone-trashcan:before {
    content: "\f169";
}
.hoone-uav:before {
    content: "\f16a";
}
.hoone-umbrella:before {
    content: "\f16b";
}
.hoone-up:before {
    content: "\f16c";
}
.hoone-van:before {
    content: "\f16d";
}
.hoone-viewshed:before {
    content: "\f16e";
}
.hoone-warning:before {
    content: "\f16f";
}
.hoone-water:before {
    content: "\f170";
}
.hoone-white_32-alarm_white_filled_32:before {
    content: "\f171";
}
.hoone-white_32-box_white_outlined_32:before {
    content: "\f172";
}
.hoone-white_32-humidity_white_filled_32:before {
    content: "\f173";
}
.hoone-white_32-snow_white_outlined_32:before {
    content: "\f174";
}
.hoone-white_32-switch_white_outlined_32:before {
    content: "\f175";
}
.hoone-white_32-temp_white_outlined_32:before {
    content: "\f176";
}
.hoone-white_32-warning_white_filled_32:before {
    content: "\f177";
}
.hoone-white_32-wifi_white_outlined_32:before {
    content: "\f178";
}
.hoone-white_32-without_snow_white_outlined_32:before {
    content: "\f179";
}
.hoone-white_32-without_wifi_white_outlined_32:before {
    content: "\f17a";
}
.hoone-white_48-analysis_white_filled_48:before {
    content: "\f17b";
}
.hoone-white_48-dashboard_white_filled_48:before {
    content: "\f17c";
}
.hoone-white_48-home_white_filled_48:before {
    content: "\f17d";
}
.hoone-white_48-map_white_filled_48:before {
    content: "\f17e";
}